.image1{
    background-image:url("Images/landing.jpg");
    background-size: contain;
    height: 700px;
    background-repeat: no-repeat;
}
.logo{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 5px;
    margin: 2px;
}
.Happy{
    color: black;
    background-color: beige;
    padding: 10px;
    margin: auto;
    display: flex;
    width: 1200px;
}
.Party{
    background-color: #F15A29;
    color: white;
    padding: 10px;
    margin: auto;
    display: flex;
    width: 1200px;
}

.column{
    float: left;
    width: 25%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.one{
    height: 200px;
}
.two{
    background-image: url("Images/breakfast.jpg");
    height: 200px;
    background-size: cover;
    text-align: center;
    color: white;
    

}
.three{
    background-image: url("Images/lunch.jpg");
    height: 200px;
    background-size: cover;
    color: white;
    text-align: center;
}
.four{
    background-image: url("Images/dinner.jpg");
    height: 200px;
    background-size: cover;
    color: white;
    text-align: center;
}
.column-split{
    float: left;
    width: 50%;
}
.Bhajia{
    height: 400px;
}
.Kebab{
    height: 400px;
}
.Menu{
    background-image: url("Images/foodsBg.jpg");
    background-size: cover;
    height: 400px;
    width: 1200px;
    background-color: white;

}
.Fast-Food{
    background-color: white;
}
.chicken.beef.pizza{
    flex-direction: column-reverse;
    background-color: white;
}
.column {
    float: left;
    width: 25%;
    
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column one{
      color: #F15A29;
  }
  .foot{
      background-color: #F15A29;
      color: white;
      text-align: center;
      padding: none;
      
      

  }